
.footer-container {
  height: 200px;
  width: 100%;
  position: flex;
  bottom: 0;
  background:black;
  z-index: 1;
}

.footer-links a {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  color: #737373;
  text-decoration: none;
  margin-left: 250px;
  padding: 5px;
  font-weight: lighter;
}


.github-link {
  margin-top: 25px;
}


.footer-question {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #737373;
  text-decoration: none;
  margin-left: 254px;
  top: 30px;
}


