.main-video-container {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  background-color: black;
  color: white;
   position: relative;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  }

.main-video {
  width: 100%; 
  height: auto; 

}

.video-index-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.main-video-title {
    font-weight: bolder;
    font-size: 2.8em;
}

.main-video-year {
     font-size: 1.7em;
}

.main-video-description {
    font-size: 1.5em;
    max-width: 40%;
    max-height: 20%;
}

.detail-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 10%;
  font-family: sans-serif;
}

.detail-container > a {
  font-size: 1.5em;
  text-decoration: none;
  background-color: red;
  max-width: 15%;
  max-height: 15%;
  text-align: center;
  color: white;
  z-index: 9;
}

// .search-result {
//   color: red;
// }