.video-rows-container {
  flex-direction: column;
  position: absolute;
  width: calc(100% - 250px);
}

.flex {
    display: flex;
}


.video-rows-title {
    display: block;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
