.video-container .button-div {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    background-color: rgba(133, 133, 133, 0.6);
    min-width: 25%;
    min-height: 20%;
    position: relative;
    left: 30%;
    font-size: 1em;
    visibility: hidden;
}

.video-container:hover > .button-div {
    visibility: visible;
}

.button-div {
       padding: 7px 10px;
    display: inline;
    border-radius: 0.3rem;
}

.play-div {
    padding: 5px;
    display: inline;
    border-radius: 0.3rem
}

.video-controller {
    position: absolute;
    z-index: 25;
    display: flex;
    justify-content: space-around;

}

.play-index-button {
    height: 1.5em;
    width: 1.5em;
    font-size: 2.2em;
    color: black;
    background-color: white;
    border-radius: 50%;
    z-index: 11;
    border: 1.5px solid white;
    // position: absolute;
    // top: 100px;
    // left: -25px;
}

.play-index-button > a {
    text-align: center;
    color: black;
    font-size: 0.9em;
}

.list-index-button {
    height: 1.5em;
    width: 1.5em;
    font-size: 2.2em;
    color: white;
    background-color: rgba(133, 133, 133, 0.6);
    border-radius: 50%;
    border: 1.8px solid white;
    // position: absolute;
    // top: 180px;
    // right: -500px
}