.video-container .button-div {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    background-color: rgba(133, 133, 133, 0.6);
    min-width: 25%;
    min-height: 20%;
    position: relative;
    left: 30%;
    font-size: 1em;
    visibility: hidden;
}

.video-container:hover > .button-div {
    visibility: visible;
}

.button-div {
       padding: 7px 10px;
    display: inline;
    border-radius: 0.3rem;
}

.play-div {
    padding: 5px;
    display: inline;
    border-radius: 0.3rem
}

.video-controller {
    z-index: 11;
    position: relative;
}

.play-index-button {
    height: 1.5em;
    width: 1.5em;
    font-size: 2.2em;
    color: black;
    background-color: white;
    border-radius: 50%;
    z-index: 11;
    border: 1.5px solid white;
    position: relative;
    left: -180px;
    top: 150px;
}

.play-index-button > a {
    text-align: center;
    color: black;
    font-size: 0.9em;
}

.list-index-button {
    height: 1.5em;
    width: 1.5em;
    font-size: 2.2em;
    color: white;
    background-color: rgba(133, 133, 133, 0.6);
    border-radius: 50%;
    border: 1.8px solid white;
    position: absolute;
    right: 10px;
    top: 200px;
}

.list-index-button:hover {
    height: 1.6em;
    width: 1.6em;
}

.detail-index-button {
    color: white;
    font-size: 4em;
    position: absolute;
    top: 487%;
    left: 200px;
}

.detail-index-button:hover {
    color: red;
}

.video-index-title {
    color: white;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    font-family: sans-serif;
    font-size: 1.5rem;
    position: absolute;
    top: 225px;
    left: 20px;
}

.index-section {
    color: red;
    background-color: skyblue;  
    // position: fixed;
    // top:0;
    // right:0;
    // left:0;
    // height:50px;
    // margin-right: 18px;
}

.now-you-dont {
    visibility: hidden;
}

.now-you-see-me {
    visibility: visible;
}