.main-video-container {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  background-color: black;
  color: white;
   position: relative;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  }

.main-video {
  width: 100%; 
  height: auto; 

}

.video-index-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.main-video-title {
    font-weight: bolder;
    font-size: 2.8em;
      padding:5px;

}

.main-video-description {
    font-size: 1.5em;
    max-width: 40%;
    max-height: 20%;
    padding:10px;
}

.detail-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 3%;
  font-family: sans-serif;
}


.play-list-buttons {
  z-index:25;
  justify-content: space-around;
}

.mute-button {
  height: 1.5em;
  width: 1.5em;
  font-size: 2.2em;
  color: white;
  background-color: rgba(133, 133, 133, 0.6);
  border-radius: 50%;
  position:absolute;
  float: right;
  right: 5%;
  top: 70%;
  z-index: 11;
  border: 1.8px solid white
}

.mute-button:hover {
 background-color: rgba(133, 133, 133, 0.9);
}

.fa-volume-mute .fa-volume-up {
  color: white;
}

.main-play-button {
    background-color: white;
    text-align: center;
    min-width: 12em;
    min-height: 2em;
    padding: 10px;
    border-radius: 0.3rem;
    margin-right: 5%;
}

.main-play-button > a {
  text-decoration: none;
  text-align: center;
  text-shadow: none;
      color: black;
      font-size: 2em;
    font-weight: bolder;
}

.main-list-button > div {
  text-decoration: none;
  text-align: center;
  text-shadow: none;
      color: white;
      font-size: 2em;
    font-weight: bolder;
   padding: 10px;
}

.main-play-button:hover {
  background-color: rgba(184, 184, 184, 0.9)
}

.main-list-button {
    background-color:rgba(133, 133, 133, 0.6);
    text-align: center;
       min-width: 15em;
    min-height: 2em;
    border-radius: 0.3rem;
}

.main-list-button:hover {
  background-color: rgba(56, 56, 56, 0.9);
}
